<div class="row metro"> <div class="col-md-6"> <a href="#/myreport"> <div class="tile bg-red"> <div class="tile-content icon"> <i class="fa fa-files-o"></i> </div> <div class="tile-status"> <span class="name">Mes rapports</span> </div> </div> </a> <a href="#/report/new"> <div class="tile double bg-darkGreen"> <div class="tile-content icon"> <i class="fa fa-plus"></i> </div> <div class="tile-status"> <span class="name">Nouveau rapport</span> </div> </div> </a> </div> </div> <!--
<div class="row">
	<div class="col-md-6">

		<table class="table table-hover">
			<tbody>
				<tr>
					<td>Application</td>
					<td>{{app.name}}</td>
				</tr>
				<tr>
					<td>Aspect</td>
					<td>{{app.aspect}}</td>
				</tr>
				<tr>
					<td>Theme</td>
					<td>{{app.theme}}</td>
				</tr>
				<tr>
					<td>Endpoints</td>
					<td>{{app.endpoints}}</td>
				</tr>
				<tr>
					<td>Current user</td>
					<td>{{profile.displayName}}</td>
				</tr>
				<tr>
					<td>Current permission level</td>
					<td>{{profile.permission_level}}</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>
-->