<div class="row"> <div class="col-md-12"> <!-- 
  <fieldset>
  	<legend>
  		Mes rapports&nbsp;<a href="#/report/new" class="pull-right">nouveau rapport&nbsp;<i class="fa fa-plus-circle"></i></a>
  	</legend>
  </fieldset>	  
  <div class="metro">
    <div data-role="listview" class="listview-outlook">

      <a href="#/report/{{report.id}}" ng-repeat="report in reports | orderBy : type" class="list">
        <div class="list-content">
          <span class="list-title">Rapport {{report.type}}</span>
          <span class="list-subtitle">{{report.createdAt | date}}</span>
          <span class="list-remark">{{report.period}} | equipe {{report.groupId}}</span>
        </div>
      </a>

    </div>
  </div>
		 --> <table class="table table-hover" ts-wrapper id="myReport"> <caption> Mes rapports de quart </caption> <thead> <th ts-criteria="createdAt">Date <th ts-criteria="period">Période de la journée <th ts-criteria="type">Type <th ts-criteria="groupId">Groupe  <tbody> <tr ng-repeat="report in reports" ts-repeat ng-click="go('/report/' + report.id)"> <td>{{report.createdAt | date}} <td>{{report.period}} <td>{{report.type}} <td>{{report.groupId}}   </table> </div> </div>